@media (min-width: 0px) and (max-width: 576px) {
    .dataMap {
        width: 270px !important;
        height: 290px !important;
    }

    .dataMap__map {
        height: 290px !important;
    }

    .mapMask{
        mask-size: 308px!important;
        -webkit-mask-position-x: -19px!important;
        -webkit-mask-position-y: -20px!important;
    }
}

.dataMap__map {
    height: 459px;
}

.mapMask{
    mask: url(img/mask.svg);
    mask-size: 429px;
    mask-repeat: no-repeat;
    -webkit-mask-position-x: -27px;
    -webkit-mask-position-y: -29px;
    height: 396px;
}

.dataMap {
    width: 375px;
    height: 459px;
    /* width: 492px; */
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    
 /*    background-image: url(img/mask.svg);
    background-size: contain;
    background-repeat: no-repeat; */
}

.dataMap__coords {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: capitalize;
    color: #ffffff;
    /* -webkit-text-stroke: 0.7px black; */
    letter-spacing: 1.3px;

}




