@media (min-width: 0px) and (max-width: 576px) {
    .nowTemp {
        font-size: 210px !important;
    }
}

.cityName {
    width: 396px;
    height: 87px;
}

.cityCountryEndTime {
    height: 87px;
    font-family: Montserrat;
    font-style: normal;
    color: #FFFFFF;
}

.cityCountryName {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    overflow: hidden;
    height: 55px;
}

.dateTime {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.data-weather {
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;


    .nowTemp {
        letter-spacing: -10px;
        font-weight: bold;
        font-size: 306px;
        line-height: 300px;
    }

    .weatherSettings {

        &__list {
            font-size: 22px;
            line-height: 37px;
            font-weight: 600;
            list-style-type: none;
        }
        
        
        &__img{
            width: 100px;
        }
        
    }

}

.nextDaysWeather {
    margin-bottom: 40px;
    color: #FFFFFF;
    
    &__next1DayOfWeek {
        grid-area: dayOfWeek1;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        height: 27px;
        margin: 0 auto;
        text-transform: uppercase;
    }

    &__next1DayTemp {
        grid-area: temp1;
        font-weight: 600;
        font-size: 80px;
        line-height: 98px;
        margin: 0 auto;
    }

    &__next1DayImg {
        grid-area: img1;
        margin: 0 auto;
        height: fit-content;
    }

    &__next2DayOfWeek {
        grid-area: dayOfWeek2;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        height: 27px;
        margin: 0 auto;
        text-transform: uppercase;
    }

    &__next2DayTemp {
        grid-area: temp2;
        font-weight: 600;
        font-size: 80px;
        line-height: 98px;
        margin: 0 auto;
    }

    &__next2DayImg {
        grid-area: img2;
        margin: 0 auto;
        height: fit-content;
    }

    &__next3DayOfWeek {
        grid-area: dayOfWeek3;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        height: 27px;
        margin: 0 auto;
        text-transform: uppercase;
    }

    &__next3DayTemp {
        grid-area: temp3;
        font-weight: 600;
        font-size: 80px;
        line-height: 98px;
        margin: 0 auto;        
    }

    &__next3DayImg {
        grid-area: img3;
        margin: 0 auto;
        height: fit-content;
    }
}


