@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";

 @media (min-width: 1200px) {
    /* .root {
        height: 800px !important;
    }

    .wrapper {
        height: 800px !important;
    }  */

    .app {
        height: 100vh;
    }
} 

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.body {
    /* transition: background-image ease-in 1s;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    overflow: hidden; */
}

.root {
    /* background-image: url('https://drive.google.com/uc?export=view&id=1mTE0KB7upq18N2LPTQrWe14T_Iebrtbl');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto; */
    transition: background-image ease-in 1s;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    //overflow: hidden;
}

.wrapper {
    background-image: url('https://drive.google.com/uc?export=view&id=1mTE0KB7upq18N2LPTQrWe14T_Iebrtbl');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
}

