@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/swiper/css/swiper.min.css"; 

.html {
  font-size: 10px;  
  background-color: #ffffff;
}

.body {
  margin: auto;
  text-align: center;
  background-color:  #ffffff;
  overflow-x: hidden;
}

