.keyboard-container {
  position: fixed;
  top: 185px; 
  z-index: 11;
}

.keyboard-button {   
  font-size: 1.2rem;
  user-select: none;
  background-color: rgb(148, 148, 148);
  border: 1px solid rgb(253, 255, 248);
  border-radius: 6px;
  overflow: hidden;
  transition: ease border-radius 0.3s;
}

.keyboard-button:hover {
  cursor: pointer;
  background-color: rgba(129, 96, 69, 0.452);
}

.keyboard .active {
  background-color: rgb(255, 115, 0);
  border-radius: 25px;
  transition: ease background-color 0.1s;
}

.keyboard {
  height: 31vw;
  margin: auto;
  position: relative;
  background-color: cornsilk;
  border: 2px solid #948080;
  padding: 5px;
  border-radius: 15px;
  text-align: center;  
 }

.keyboard-button {
  display: block;
}

.key-one {
  grid-area: one;
}

.key-two {
  grid-area: two;
}

.key-three {
  grid-area: three;
}

.key-four {
  grid-area: four;
}

.key-five {
  grid-area: five;
}

.key-six {
  grid-area: six;
}

.key-seven {
  grid-area: seven;
}

.key-eight {
  grid-area: eight;
}

.key-nine {
  grid-area: nine;
}

.key-zero {
  grid-area: zero;
}
.key-tilda {
  grid-area: tilda;
}

.key-minus {
  grid-area: minus;
}

.key-equal {
  grid-area: equal;
}

.key-backspace {
  grid-area: backspace;
}

.key-tab {
  grid-area: tab;
}

.key-q {
  grid-area: q;
}

.key-w {
  grid-area: w;
}

.key-e {
  grid-area: e;
}

.key-r {
  grid-area: r;
}

.key-t {
  grid-area: t;
}

.key-y {
  grid-area: y;
}

.key-u {
  grid-area: u;
}

.key-i {
  grid-area: i;
}

.key-o {
  grid-area: o;
}

.key-p {
  grid-area: p;
}

.key-ha {
  grid-area: ha;
}

.key-strongSign {
  grid-area: strongSign;
}

.key-slash {
  grid-area: slash;
}

.key-del {
  grid-area: del;
}

.key-caps {
  grid-area: caps;
}

.key-a {
  grid-area: a;
}

.key-s {
  grid-area: s;
}

.key-d {
  grid-area: d;
}

.key-f {
  grid-area: f;
}

.key-g {
  grid-area: g;
}

.key-h {
  grid-area: h;
}

.key-j {
  grid-area: j;
}

.key-k {
  grid-area: k;
}

.key-l {
  grid-area: l;
}

.key-colon {
  grid-area: colon;
}

.key-quotationMarks {
  grid-area: quotationMarks;
}

.key-enter {
  grid-area: enter;
}

.key-shift {
  grid-area: shift;
}

.key-z {
  grid-area: z;
}

.key-x {
  grid-area: x;
}

.key-c {
  grid-area: c;
}

.key-v {
  grid-area: v;
}

.key-b {
  grid-area: b;
}

.key-n {
  grid-area: n;
}

.key-m {
  grid-area: m;
}

.key-comma {
  grid-area: comma;
}

.key-point {
  grid-area: point;
}

.key-questionMark {
  grid-area: questionMark;
}

.key-arrowUp {
  grid-area: arrowUp;
}

.key-rShift {
  grid-area: rShift;
}

.key-ctrl {
  grid-area: ctrl;
}

.key-win {
  grid-area: win;
}

.key-alt {
  grid-area: alt;
}

.key-space {
  grid-area: space;
}

.key-rAlt {
  grid-area: rAlt;
}

.key-rCtrl {
  grid-area: rCtrl;
}

.key-arrowLeft {
  grid-area: arrowLeft;
}

.key-arrowDown {
  grid-area: arrowDown;
}

.key-arrowRight {
  grid-area: arrowRight;
}