@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/swiper/css/swiper.min.css"; 

html {
  font-size: 10px;  
  background-color: #ffffff;
}

body {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  background-color:  #c7c7c7;
  overflow-x: hidden;
}


.swiper-container {
  width: 600px;
  height: 300px;
}
