@import "custom";
@import "keyboard";
@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/swiper/css/swiper.min.css"; 

@keyframes rotation { 
  0% {transform:rotate(0deg);} 
  100% {transform:rotate(-360deg);}
}

.html {
  font-size: 10px;  
  background-color: #ffffff;
}

.body {
  margin: auto;
  text-align: center;
  background-color:  #ffffff;
  overflow-x: hidden;
}

.swiper-container {
  width: 90%;
  height: 440px;
}

.swiper-pagination {
  overflow-x: hidden; 
}

.header {
  display: flex;
  color: #ffffff;
  background-color: #262a35;

  &_medium {  
    height: 80px;
  }
  
  &__logo {
    font-size: 2.5rem;
  }
  
  &__logo_center {
    margin: auto;
  }
}

.search-form {

  &__img-button-clear {
    position: absolute;
    right: 90px;
    z-index: 6;
    cursor: pointer;
    opacity: 0.5;
  
    &:hover{
      opacity: 1;
    }
  }

  &__img-button-keyboard {
    position: absolute;
    right: 60px;
    z-index: 6;
    cursor: pointer;
    opacity: 0.5;
  
    &:hover{
      opacity: 1;
    }
  }

  &_medium {
    display: flex;
    justify-content: center;
    margin: 20px 0 5px 0;
    padding-left: 7%;
    padding-right: 7%;
  }

  &__input_medium {
    width: 80%;
    height: 26px;
    font-size: 1.4rem;
  }
  
  &__icon-search {
    width: 19px;
    height: 19px;     
  }
  
  &__load-indicator {
    display: none;
    position: absolute;
    right: 120px;
    top: 2px;
    width: 26px;
    height: 26px;
    z-index: 5;
  }
  
  &__load-indicator_active {
    display: block;    
    animation-name: rotation;
    animation-duration: 0.8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
  }
}

.main {
  position: relative;
  height: 524px;
}

.notice {
  &__medium {
    font-size: 1.4rem;
  }
  
  &_text {
    color: red;
  }
}

.swiper-slide-container {
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  align-items: center;

  &_medium {
    font-size: 1.4rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}

.swiper-slide__img {
  width: 192px;
  height: 288px;
  user-select: none;
}

.swiper-slide__title_medium {
  text-decoration: underline;
  height: 45px;   
}

.rating-container {
  display: flex;
}

.swiper-slide__year_medium {
  margin-top: 10px;
}

.swiper-slide__stars_medium {
  line-height: 32px;
}

.swiper-slide__img-star {
  transform: scale(0.8);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #262a35; 
  margin-top: 50px;

  &_medium {
    height: 50px;
    font-size: 1.4rem;
    padding-left: 8%;
    padding-right: 8%;
  }
}

.github-link {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none; 

  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}



.swiper-slide__img {
	opacity: 1;
	transition: opacity 0.3s;
}

.swiper-slide__img[data-src] {
	opacity: 0;
}