@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/swiper/css/swiper.min.css"; 

html {
  font-size: 10px;  
  background-color: #ffffff;
}

body {
  //max-width: 1200px;
  margin: auto;
  text-align: center;
  background-color:  #ffffff;
  overflow-x: hidden;
}

/* .swiper {
  height: 440px;
} */
.swiper-container {
  //padding-left: 30px;
  //padding-right: 30px;
  width: 90%
  /* width: 600px;
  height: 300px; */
}

.swiper-pagination {
  /* display: flex;
  justify-content: center;*/
  overflow-x: hidden; 
}

.header {
  display: flex;
  color: #ffffff;
  background-color: #262a35;  
}

.header_medium {  
  height: 80px;
}

.header__logo {
  font-size: 2.5rem;
}

.header__logo_center {
  margin: auto;
}

.search-form__img-button-clear {
  position: absolute;
  right: 60px;
  z-index: 6;
  cursor: pointer;
  opacity: 0.5;

  &:hover{
    opacity: 1;
  }
}

.search-form_medium {
  display: flex;
  justify-content: center;
  margin: 20px 0 5px 0;
}

.search-form__input_medium {
  width: 80%;
  height: 26px;
  font-size: 1.4rem;
}

.search-form__icon-search {
  width: 19px;
  height: 19px;     
}

.search-form__load-indicator {
  display: none;
  position: absolute;
  right: 90px;
  top: 2px;
  width: 26px;
  height: 26px;
  z-index: 5;
}

.search-form__load-indicator_active {
  display: block;
    
    animation-name: rotation;
    animation-duration: 0.8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes rotation { 
  0% {transform:rotate(0deg);} 
  100% {transform:rotate(-360deg);}
}

.main {
  position: relative;
  height: 524px;
}

.notice-container__medium {
  font-size: 1.4rem;
}

.notice-container_text {
  color: red;
}


.swiper-slide-container {
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  align-items: center;
  //width: 192px;
}

.swiper-slide-container_medium {
  font-size: 1.4rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.swiper-slide__img {
  /* transform: scale(0.8); */
  //width: 240px;
  //height: 360px;
  width: 192px;
  height: 288px;
  user-select: none;
}

.swiper-slide__title_medium {
  text-decoration: underline;
  height: 45px;   
}


.rating-container {
  display: flex;
}

.swiper-slide__year_medium {
  margin-top: 10px;
}

.swiper-slide__stars_medium {
  line-height: 32px;
}

.swiper-slide__img-star {
  transform: scale(0.8);
}

.footer_medium {
  height: 50px;
  font-size: 1.4rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #262a35; 
  margin-top: 50px;
}

.footer__icon-github {
  }